@charset "UTF-8";

.sriracha-regular {
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
  }
  .passion-one-regular {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .passion-one-black {
    font-family: "Passion One", serif;
    font-weight: 900;
    font-style: normal;
  }
    
    * { padding: 0px; margin: 0px; font-size: 1em; }

    html, body { background-color: aliceblue; min-height: 100%;}

    header { 
      background-color: black; 
      text-align: center;  
      color: white;    
      padding: 60px 0px 60px 0px; 
    }
    h1 {
      font-size: 3em;
      font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
  
    }
    #começo > a {
      text-decoration: none;
      color: white;
     font-weight: bolder;
     
    } 
    #começo > a:hover {
      text-decoration: underline;
    }
    
    section.normal { 
        background-color: #1927178a; 
        color: white; 
        font-family: "Sriracha", serif;
        font-weight: 400;
        font-style: normal;
      }
    section.imagen { 
        background-color: black; 
        color: azure;
        font-family: "Sriracha", serif;
        font-weight: 400;
        font-style: normal;
      }
    section {
        padding: 10px;
     }










     footer > p {
      padding: 5px;
      background-color: black;
      color: white;
      text-align: center; 
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }

    
  